.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
	a {
		display: block;
		color: black;
		padding: 16px;
		text-decoration: none;
		&:hover {
			&:not(.active) {
				background-color: blue;
				color: white;
			}
		}
	}
	a.active {
		background-color: blue;
		color: white;
	}
}
div.content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
}
@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
		a {
			float: left;
		}
	}
	div.content {
		margin-left: 0;
	}
}
@media screen and (max-width: 400px) {
	.sidebar {
		a {
			text-align: center;
			float: none;
		}
	}
}
